{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block body %}
<div class="container">
    <p class="title"><strong>Agri</strong>Cultor</p>
    <div class="logo"><img src="/build/images/robot.647805f5.png" alt="Robot" title="Robot" /></div>
    <a class="materiel" href="{{path ('search_material') }}">Evaluez votre matériel</a>
</div>
{% if app.user %}
        <p class="mail">{{ app.user.email }}</p>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
    {% else %}
        <a href="{{ path('app_login') }}">Se connecter</a>
        <a class="register" href="{{path ('app_register') }}">Pas encore inscrit? Cliquez ici.</a>
    {% endif %}
    

{% endblock %}
