{% extends 'base.html.twig' %}

{% block title %}Boat index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Boat</h1>
        <div class="row">

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>CoordX</th>
                    <th>CoordY</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for boat in boats %}
                    <tr>
                        <td>{{ boat.id }}</td>
                        <td>{{ boat.name }}</td>
                        <td>{{ boat.coordX }}</td>
                        <td>{{ boat.coordY }}</td>
                        <td>
                            <a href="{{ path('boat_show', {'id': boat.id}) }}">show</a>
                            <a href="{{ path('boat_edit', {'id': boat.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No record found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('boat_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
