{% extends 'base.html.twig' %}

{% block body %}sss
    <style>
    label {
        display: inline-block;
        width: 50px;
    }

    #program_actors input {
        display: inline-block;
    }

    input[type="checkbox"] {
        margin-right: 5px;
        cursor: pointer;
    }
    </style>

    {{ form_start (form) }}
        {# {{ form_widget(form) }} #}

       {{ form_widget(form.dateAdded) }}
        {{ form_widget(form.title) }}
        {{ form_widget(form.summary) }}
        {{ form_widget(form.category) }}
        {{ form_widget(form.year) }}
        {{ form_widget(form.tmdb) }}
        {{ form_widget(form.posterFile) }}
        {{ form_widget(form.actors) }}

        <button class="btn btn-success mt-3">Ajouter une nouvelle Sériee</button>
    {{ form_end(form) }}
{% endblock %}