{% extends 'base.html.twig' %}

{% block title %}Acteur #{{ actor.id }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ actor.name }}</h1>

    {# <a href="{{ asset('uploads/' ~ actor.poster) }}" data-fancybox> #}
    <a href="{{ actor.poster }}" data-fancybox>
        <img class="rounded" style="with: 200px; height: 450px;" src="{{ actor.poster }}" alt="Poster de {{ actor.name }}" title="Poster de {{ actor.name }}" />
    </a>

    <h2>Liste des Séries</h2>

    <ul>
        {% for program in actor.programs %}
            <li><a href="{{ path("program_show", {slug: program.slug}) }}">{{ program.title }}</a></li>
        {% else %}
            Aucune série trouvée
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts_loaded %}{{ encore_entry_script_tags('favorite') }}{% endblock %}